alabaster
astroid
babel
blinker
certifi
charset-normalizer
click
coverage
dill
docutils
exceptiongroup
flask
idna
imagesize
iniconfig
isort
itsdangerous
jinja2
markupsafe
mccabe
numpy
packaging
pandas
pdoc
platformdirs
pluggy
pygments
pylint
pytest
python-dateutil
pytz
requests
scikit-learn
six
snowballstemmer
sphinx
sphinx-rtd-theme
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jquery
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
tomli
tomlkit
typing_extensions
tzdata
urllib3
werkzeug
flask-session